/* GLOBAL */
body {
  background: #21262A;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.App {
  max-width: 1280px;
  margin: auto;
}


/* HEADER */

header {
  font-size: 0.6rem;
  color: #fff;
  padding: 2rem 1.3rem;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.header-btn {
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
  background-color: #ebebeb;
  cursor: pointer;
  color: black;

}

h1 {
  color: white;
}