/* general styling */

body {
  background: #21262A;
}

.App {
  max-width: 800px;
  margin: auto;
}

/* header styling */

header {
  font-size: 0.6rem;
  color: #fff;
  padding: 0.5rem 1.3rem;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.header-btn {
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
  background-color: #5D819C;
  cursor: pointer;
}

h1 {
  color: white;
}


/* meme generator container styling */
.img-container {
  width: 100%;
  background: #1A1E21;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  position: relative;
}

.img {
  max-width: 650px;
  max-height: 650px;
}

.topText,
.bottomText {
  position: absolute;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px black;
}

.topText {

  top: 7%;

}

.bottomText {

  bottom: 7%;

}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  width: 100%;

}

.form-container {
  width: 100%;
}

.range-input {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}

input[type=range] {
  -webkit-appearance: none;
  margin-bottom: 2rem;
  border: none;
}


input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: transparent;
  border: none;
  border-radius: 3px;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 18px;
  width: 10px;
  border-radius: 15px;
  background: #5D819C;
  margin-top: -5px;
}


input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ddd;
}



input[type=text] {
  width: 85%;
  margin: 0rem auto 0.7rem;
  display: block;
  padding: 0.8rem 0.4rem;
  background: #1A1E21;
  border: 1px solid #000;
  color: #fff;
  outline: none;

}

input:focus {
  border-color: #5D819C;
}

button {
  width: 85%;
  box-sizing: content-box;
  margin: auto;
  display: block;
  padding: 0.8rem 0.4rem;
  background: #5D819C;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}




/* MEDIA QUERIES */
/* ipad pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1) {
  header {
    margin: 2rem 0rem 1.2rem;
  }

}

/* ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .img {
    max-width: 700px;
    max-height: 500px;
  }

}

@media screen and (max-width: 600px) {
  .img {
    max-width: 450px;
    max-height: 290px;
  }
}

@media screen and (max-width: 450px) {
  .img {
    max-width: 400px;
    max-height: 290px;
  }
}

@media screen and (max-width: 390px) {
  .img {
    max-width: 320px;
    max-height: 230px;
  }
}

@media screen and (max-width: 290px) {
  .img {
    max-width: 280px;
    max-height: 200px;
  }


}