.findMeme {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.findMeme_container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.findMeme_form {
    display: flex;
    width: 60%;
    margin-bottom: 3rem;

}

.findMeme_input,
.findMeme_btn {
    padding: 10px 15px;
}

.findMeme_input {
    width: 80%;
}

.findMeme_btn {
    width: 20%;
    display: block;

}

.findMeme_gallery {
    width: 100%;
    margin: auto;
    text-align: center;
}

.findMeme_img {
    width: 350px;
    margin: 0.5rem;
}