body {
  background: #21262A;
  min-height: 100vh;
}

header {
  font-size: 0.6rem;
  color: #fff;
  padding: 0.5rem 1.3rem;
  font-weight: normal;
}

.img-container {
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
}

.img {
  width: 90%;

}