body {
  background: #21262A;
  min-height: 100vh;
}

header {
  font-size: 0.6rem;
  color: #fff;
  padding: 0.5rem 1.3rem;
  font-weight: normal;
}

.img-container {
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
}

.img {
  width: 90%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  width: 100%;

}

.form-container {
  width: 100%;
}

input {
  width: 80%;
  margin: 0rem auto 0.7rem;
  display: block;
  padding: 0.8rem 0.4rem;
  background: #1A1E21;
  border: 1px solid #000;

}

button {
  width: 80%;
  box-sizing: content-box;
  margin: auto;
  display: block;
  padding: 0.8rem 0.4rem;
  background: #5D819C;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}